<style>
 .detail {
    width: 53%;
    float: left;
}
 .imah {
    width: 17%;
    float: left;
}
.info_s{
    
    margin-top:20px;
    overflow:auto;
}
</style>
<div class="container">
   <div class="breadcum">
         <a href="index.php"> ETUSIVU </a><span class="sep"> / </span>  <span> YHTEYSTIEDOT </span>
    </div>
 </div>
<div class="main_container">
  <div class="container">


<div class="entry-content">
				<h1>Ulcona Oy</h1>
				<br>
				<br>
<div class="col-md-4">	
<br>
<p class="ingress"> +358 40 726 1011 <br>
<a href="mailto:info@ulcona.com" class="green_text">info@ulcona.com </a></p>
Hämeentie 22 F 106<br>
00530 Helsinki<br>
Finland</p>

<p><a href="mailto:etunimi.sukunimi@ulcona.com" class="green_text">etunimi.sukunimi@ulcona.com</a></p>

<a href="mailto:myynti@ulcona.com" class="green_text">myynti@ulcona.com </a></p>
  </div>
  <div class="col-md-4">
      <br>
         <h5> Myynti </h5>
         <br>
         <div class="info_s"> 
          <div class="detail"> Jani Ritaranta <br>
Myyntijohtaja <br>
+358 44 015 1273 </div>
          
        
          
          <div class="imah"> <%= image_tag ("2.png") %>  </div>
         </div> 
          
          <div class="info_s"> 
          <div class="detail"> Topi Hautaniemi
Myyntiedustaja / <br>
Myynnintuki <br>
+358 50 573 0569 </div>
          
          <div class="imah"><%= image_tag ("Topi.png") %> </div>
         </div> 
      </div>
      
      <div class="col-md-4">
            <br>
         <h5> Hallinto / Mediakumppanuudet </h5>
         <br>
         <div class="info_s"> 
          <div class="detail"> Markus Lindberg <br>
Toimitusjohtaja <br>
+358 40 726 1011 </div>
          
          <div class="imah"> <%= image_tag ("3.png") %> </div>
         </div> 
         
            <br>
         <h5> Tuotanto /Asennukset </h5>
         <br>
           <div class="info_s"> 
          <div class="detail"> Ulcona Tuotanto Oy <br>
Kai Hapuli <br>
Toimitusjohtaja <br>
+358 40 087 3686 </div>
          
          <div class="imah"> </div>
         </div> 
      </div>
      


			</div>

 </div>
</div>
<br>
<br>
<style>
/*@media screen and (min-width: 1280px){
.padding_bottom {
    padding: 40px 0;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
 }
}*/
</style>
