<div class="container">
   <div class="breadcum">
         <a href="index.php"> ETUSIVU </a><span class="sep"> / </span>  <span> Myyntiehdot </span>
    </div>
 </div>
 <div class="main_container">
  <div class="container">
  <div class="col-md-12">
    <div class="entry-content">
				<h2>1 MAINOSPAIKAN VUOKRASOPIMUS </h2>
<p>Mainospaikoista tehdyt tarjoukset ovat voimassa välimyyntiehdoin, toisin sanoen Ulcona Oy:llä on oikeus tarjouksesta riippumatta tehdä tarjouksen kohteena olevasta mainospaikasta sopimus kolmannen kanssa niin kauan kuin tarjouksen saanut ei ole ilmoittanut Ulcona Oy:lle hyväksyvänsä tarjouksen. Sopimus katsotaan syntyneeksi, kun ostaja tai hänen edustajansa kirjallisesti tai muulla todisteellisella tavalla vahvistaa hyväksyvänsä tehdyn tarjouksen. Sopimus vahvistetaan joko kirjallisesti sähköpostilla tai verkkokaupasta mainostila ostamalla. Mainosjaksoa tilattaessa on ilmoitettava mainostettava tuote sekä mainostaja.</p>

<h2>2 MAINOSJAKSOT</h2>
<p>Yksittäiset mainospaikat kiinnitetään erikseen sovittavalla tavalla. Mainospaikkojen kiinnitysaikataulu voi muuttua + / – 48 tuntia</p>
<p>Ulcona Oy:stä riippumattomista syistä, kuten esimerkiksi huoltotöiden, liikennejärjestelyjen, sään tai muiden syiden vuoksi.</p>
<h2>3 SOPIMUKSEN PERUUTTAMINEN </h2>
<p>Mikäli ostaja peruuttaa sopimuksen mukaisen kampanjan Ulcona Oy laskuttaa ostajaa 20 % peruutetun sopimuksen hinnasta. Jos ostaja peruuttaa sopimuksen mukaisen kampanjan myöhemmin kuin kaksitoista (12) viikkoa ennen mainoskampanjan alkua, Ulcona Oy laskuttaa ostajalta koko sopimuksen hinnan. Peruutus on tehtävä kirjallisesti.</p>
<h2>4 HINNAT JA LASKUTUS </h2>
<p>Ulcona Oy:llä on oikeus muuttaa sopimuksen hintoja uuden sopimuskauden alkaessa. Ulcona Oy ilmoittaa ostajalle hintojen muutoksesta ennen uuden sopimuskauden alkamista. Tällöin ostajalla on mahdollisuus irtisanoa sopimus päättymään sopimuskauden loppuun. Jos sopimusta ei irtisanota, Ulcona lähettää laskun uuden sopimuskauden alkaessa uusien hintojen mukaisesti.</p>
<h2>5 MAKSUEHDOT</h2>
<p>Maksuehto on 7 pv netto, ellei toisin ole sovittu. Maksuviivästyksestä peritään kulloinkin voimassaolevan korkolain (633/1982) mukainen viivästyskorko.</p>
<h2>6 MAINOSTEN PAINATUS </h2>
<p>Tulostusvalmiin mainosaineiston on oltava Ulcona Oy:n osoittamalla aineistoserverillä viimeistään, viikko (1) viikkoa ennen kampanjan sovittua alkamisajankohtaa. Mikäli asiakas painattaa mainosmateriaalin itse, vastaa asiakas aineiston toimittamisesta vapaasti varastollemme viikko (1) ennen kampanjan alkua. Mikäli mainosmateriaali poikkeaa Ulcona Oy:n omista standardeista ja siitä aiheutuu lisäkustannuksia, vastaa asiakas mainituista lisäkustannuksista.</p>
<h2>7 MAINOSTEN VAHINGOITTUMINEN </h2>
<p> Ulcona Oy ei korvaa siitä riippumattomista syistä, kuten esimerkiksi ilkivallasta tai säästä aiheutuneita vahinkoja.</p>
<h2>8 MAINONNAN SISÄLTÖ </h2>
<p>Ulkomainonnan tulee ottaa huomioon kulloinkin voimassa olevat mainonnan kansainväliset perussäännöt, Keskuskauppakamarin ja Mainonnan eettisen neuvoston ratkaisut sekä sosiaali- ja terveydenhuollon tuotevalvonnan antamat ennakkopäätökset. Mainonta ei saa olla hyvän tavan vastaista. Ulcona Oy on sitoutunut yhteistyökumppaniensa ja viranomaisten kanssa solmimissaan sopimuksissa poistamaan yleistä pahennusta herättävät mainokset välineistään niin vaadittaessa. Jos asiakkaan kampanja näistä syistä joudutaan keskeyttämään, ei Ulcona Oy ole velvollinen korvaamaan tästä asiakkaalle aiheutuvia kuluja, kustannuksia tai menetyksiä.</p>
<h2>9 VASTUUNRAJOITUS </h2>
<p>Ulcona Oy ei ole asiakkaalle missään vastuussa välillisistä tai epäsuorista vahingoista, kuten menetetystä tuotosta tai kolmannen osapuolen vaatimuksista. Vastuunrajoitus ei koske vahinkoja, jotka on aiheutettu tahallisesti tai törkeällä tuottamuksella.</p>
<h2>10 YLIVOIMAINEN ESTE </h2>
<p>Ulcona Oy ei vastaa viivästyksistä ja vahingoista, jotka johtuvat ylivoimaisesta esteestä. Tällaiseksi katsotaan Ulcona Oy:n vaikutusmahdollisuuksien ulkopuolella oleva syy, jota sen ei kohtuudella voida edellyttää ottaneen huomioon sopimusta tehtäessä ja joka estää Ulcona Oy:tä täyttämästä sopimuksen mukaisia velvoitteitaan ilman, että Ulcona Oy voi kohtuullisin toimin tai kustannuksin tällaista estettä poistaa. Ylivoimaiseksi esteeksi katsotaan mm. sota, kapina, sisäinen levottomuus, työselkkaus, luonnonmullistus, tulipalo, tuontikielto tai muu viranomaisen toimenpide, yleisen liikenteen tai energiajakelun keskeytys. Lakko, sulku, boikotti ja muu työtaistelutoimenpide katsotaan ylivoimaiseksi esteeksi myös silloin, kun sopijapuoli on itse sen kohteena tai siihen osallisena. Ulcona Oy:n alihankkijaa kohdannut ylivoimainen este katsotaan myös vapauttamisperusteeksi, mikäli alihankintaa ei voida ilman kohtuuttomia kustannuksia tai oleellista viivästystä hankkia muualta.</p>
<h2>11 SOPIMUKSEN SIIRTO </h2>
<p>Ulcona Oy:llä on oikeus siirtää asiakkaan kanssa solmimansa sopimus oikeuksineen ja velvollisuuksineen toiselle yhtiölle.</p>
<h2>12 VALAISTUS </h2>
<p> Ulcona Oy ei ole vastuussa sähkön jakelussa tapahtuvista katkoksista.</p>
<h2>13 MAINOSMATERIAALIN KIERRÄTYS </h2>
<p>Ulcona Oy kierrättää mainosmateriaalinsa ympäristösyistä. Osaa materiaaleista saatetaan uusiokäyttää esimerkiksi tekstiiliteollisuudessa,
jolloin asiakkaan mainos tai osa siitä saattaa olla nähtävissä myöhemmin esimerkiksi kesto-ostoskasseissa. Mikäli asiakas ei toivo mainokselleen kyseistä ympäristöä säästävää uusiokäyttöä, tulee hänen ilmoittaa asiasta tuotantotietojen toimituksen yhteydessä. </p>
<p>&nbsp;</p>
			</div>
  </div>
 </div>
</div>